.carousel{
    width: 100%; /* o 100%, o un valor fijo como 1200px */
    height: 500px;
    /* aspect-ratio: 12 / 5; */
    margin: auto;
    overflow: hidden
    
}

.barraGris{
    background-color:#d6d6d6 ; /* Color negro*/ 
    height: 5px; /* Altura de la barra */ 
    width: 100%; /* Que ocupe todo el ancho */ 
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    
  }