.error{
    text-align: center;
    margin-top: 10%;
}

.error img{
    width: 10%;
}

.error p{
    font-size:large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0.7;
    width: 30%;
    text-align: center;
    margin-left: 35%;
    
}

@media (max-width: 780px){
    .error{
        text-align: center;
    }
    .error p{
        font-size: small;
    }
}