.contactanos{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}

.form-contactanos{
    margin-left: 30px;
}

.form-contacto{
    margin-left: 30px;
}


.row-mb-3-contacto{
    
}

.col-form-label{
    text-align: center;
}

.form-control-contacto{
    width: 300px;
    height: 40px;
}

.form-control-contacto-motivo{
    width: 600px;
    height: 300px;
}

.btn-btn-primary-contacto{
    background-color: #ffd100;
    border-radius: 10px;
    margin-top: 30px;
    padding: 10px;
}

