header {
    text-align: center;
    padding: 100px;
    padding: 50px 20px;
    background-color: #555;
}

.galeria {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 50px 20px;
    background-color: #555;
}

.galeria h1 {
    margin-bottom: 30px;
}

.imagenes {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.item {
    text-align: center;
    cursor: pointer;
}

.item img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s;
}

.item img:hover {
    transform: scale(1.05);
}

.item p {
    font-size: 30px;
    margin-top: 50px;
    font-weight: bold;
    color: #aaa;
    text-decoration: underline;
}

section {
    padding: 50px 20px;
    background-color: #555;
}

h2 {
    text-align: center;
}

.huevos p{
    width: 50%;
}
