
  .card-footer {
    background-color: #f8f9fa;
    padding: 20px;
    border-top: 1px solid #dee2e6;
  }

  .card-footer div{
    margin: auto;
  }
  
  /* Contenedor flex: logo a la izquierda, mapa centrado */
  .footer-wrapper {
    display: flex;
    justify-content: center; /* Centra todo horizontalmente */
    align-items: center;
    gap: 30px; /* Espacio entre logo y mapa */
    flex-wrap: wrap; /* Para móviles */
    position: relative;
    vertical-align: bottom;
  }
  
  /* Logo a la izquierda de la pantalla */
  .logo-container {
    left: 20px; /* Pegado al borde izquierdo */
    top: 60%;
  }
  
  .footer-logo {
    width: auto;
    height: auto;
    /* object-fit: contain; */
  }
  
  .map-container {
    width: 100%;
    height: 40%;
    border: 4px solid #333;
    border-radius: 12px;
    overflow: hidden;
  
  }
  
  .map-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
  
  .derechos-reservados{
    text-align: center;
    height: 30px;
     background-color: rgba(0, 0, 0, 0.6); /*Negro con 60% de opacidad */
     color: white;                        /*Texto blanco para contraste */
     padding: 5px;                       /*Espaciado interno  */
}

.map-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
 
  
}

.titulo-map {
  color: #202020;
  font-size:xx-large;
}

.contacto-titulo{
  color: #202020;
  font-size:xx-large;
}

.contacto-footer{
  width: 20%;

}

.lista-contacto{
  list-style: none;
}

.logo-redes-footer{
  display: flex;
  display:inline-flex;
  list-style: none;
  align-items: center;
  /* margin-left: 10%; */
}

.imagenes-footer{
  display: block;
   width: 40%;
   margin: auto;
}

.redes-footer{
  width: 20%;
  /* margin-left: 22%; */
  margin-top: 8%;
}

.redes-p{
  text-align: center;
  color: #202020;
  font-size:xx-large;
  margin-left: 15%;
}

.footer {
  margin-top: 10px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white; 
  z-index: 1000;
  padding: 10px 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); 
  
}


/* Responsivo para pantallas pequeñas */





@media (max-width: 768px) {
  .footer-wrapper {
    flex-direction: column;
    gap: 20px; /* Reducir el espacio entre elementos */
  }

  .footer-wrapper .logo-container {
    flex: none;
    width: 100%;
    text-align: center;
  }

  .footer-wrapper .map-container {
    flex: none;; 
    display: none; /* Ocultar el mapa en pantallas móviles */
  }

  .redes-p {
    font-size: large; /* Reducir el tamaño de texto */
    margin-top: 20px;
  }

  .footer-logo{
    text-align: left;
    width: 30%;
  }

  .logo-container{
    width: 4%;
    text-align: left;
  }

  .contacto-footer{
    text-align: left;
    width: auto;
  }

  .contacto-titulo p{
    font-size:medium;
    font-style: bold;
  }

.titulo-map{
  display: none;
}

.redes-footer{
  font-size: medium;
  font-style: bold;
  text-align: left;
  width: 100%;
}

.redes-p{
  padding-right: 30px;
}

.derechos-reservados {
  font-size: 14px; /* Un poco más pequeño */
  padding: 10px 5px; /* Menos padding */
}


}

@media (max-width: 853px) {
  .footer-wrapper {
    flex-direction: column;
    gap: 20px; /* Reducir el espacio entre elementos */
  }

  .footer-wrapper .logo-container {
    flex: none;
    width: 100%;
    text-align: center;
  }

  .footer-wrapper .map-container {
    flex: none;; 
    display: none; /* Ocultar el mapa en pantallas móviles */
  }

  .redes-p {
    font-size: large; /* Reducir el tamaño de texto */
    margin-top: 20px;
  }

  .footer-logo{
    text-align: left;
    width: 30%;
  }

  .logo-container{
    width: 4%;
    text-align: left;
  }

  .contacto-footer{
    text-align: left;
    width: auto;
  }

  .contacto-titulo p{
    font-size:30px;
    font-style: bold;
  }

  .contacto-items{
    font-size: large;
  }

.titulo-map{
  display: none;
}

.redes-footer{
  font-size: medium;
  font-style: bold;
  text-align: left;
  width: 100%;
}

.redes-footer a{
  height: 10%;
}

.redes-p{
  padding-right: 15%;
  font-size: 30px;
}


}

 @media (max-width: 1024px) { 
  .footer-wrapper {
    flex-direction: column;
    gap: 20px; /* Reducir el espacio entre elementos */
  }

  .footer-wrapper .logo-container {
    flex: none;
    width: 100%;
    text-align: center;
  }

  .redes-p {
    font-size: large; /* Reducir el tamaño de texto */
    margin-top: 20px;
  }

  .footer-logo{
    text-align: left;
    width: 30%;
  }

  .logo-container{
    width: 4%;
    text-align: left;
  }

  .contacto-footer{
    text-align: left;
    width: auto;
  }

  .contacto-titulo p{
    font-size:30px;
    font-style: bold;
  }

  .contacto-items{
    font-size: large;
  }

.redes-footer{
  font-size: medium;
  font-style: bold;
  text-align: left;
  width: 100%;
}

.imagenes-footer{
  height: auto;
  width: 40%;

}

.redes-p{
  padding-right: 12%;
  font-size: 30px;
}


 } 

/* Responsividad para pantallas muy chicas (celulares chicos) */
@media (max-width: 400px) {
  .derechos-reservados {
      font-size: 7px; /* Más pequeño aún */
      line-height: 1.4; /* Mejor separación de líneas */
  }
}

@media (max-width: 500px) {
  .derechos-reservados {
      font-size: 8px; /* Más pequeño aún */
      line-height: 1.4; /* Mejor separación de líneas */
  }
}


@media (max-width: 800px) {
  .derechos-reservados {
      font-size: 10px; /* Más pequeño aún */
      line-height: 1.4; /* Mejor separación de líneas */
  }
}

@media (max-width: 344px) {
  /* Ajustes para todo el footer */
  .footer-wrapper {
    flex-direction: column; /* Para apilar los elementos */
    align-items: center;
    text-align: center;
    gap: 15px;
  }

  .footer-logo {
    width: 100px; /* Logo más pequeño */
  }

  /* Ajustar la sección CONTACTO */
  .footer .footer-wrapper .contacto-footer {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .contacto-titulo p {
    font-size: 16px; /* Fuente más pequeña */
    margin-bottom: 5px;
  }

  .contacto-items p {
    font-size: 14px; /* Reducir el tamaño de la fuente */
    margin: 2px 0; /* Espacio pequeño entre los items */
  }

  /* Ajustar la sección Nuestras redes */
  .redes-footer {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .redes-p {
    font-size: 16px; /* Reducir tamaño del texto */
    margin-bottom: 5px;
    margin-right: 5%;
  }

  .imagenes-footer {
    width: 25px; /* Reducir tamaño de los íconos */
    height: 25px;
    margin: 0 5px; /* Reducir el espacio entre íconos */
  }

  /* Ocultar mapa y sección "Dónde nos encontras" */
  .map-section {
    display: none;
  }

  .logo-redes-footer{
    margin-left: 15%;
  }

  /* Ajustar derechos reservados */
  .derechos-reservados p {
    font-size: 5px; /* Texto pequeño para derechos reservados */
    padding: 8px;
    line-height: 1.4; /* Mejorar legibilidad */
  }
}

@media (max-width: 375px) {
  /* Ajustes para todo el footer */
  .footer-wrapper {
    flex-direction: column; /* Para apilar los elementos */
    align-items: center;
    text-align: center;
    gap: 15px;
  }

  .footer-logo {
    width: 100px; /* Logo más pequeño */
  }

  /* Ajustar la sección CONTACTO */
  .footer .footer-wrapper .contacto-footer {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .contacto-titulo p {
    font-size: 16px; /* Fuente más pequeña */
    margin-bottom: 5px;
  }

  .contacto-items p {
    font-size: 14px; /* Reducir el tamaño de la fuente */
    margin: 2px 0; /* Espacio pequeño entre los items */
  }

  /* Ajustar la sección Nuestras redes */
  .redes-footer {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .redes-p {
    font-size: 16px; /* Reducir tamaño del texto */
    margin-bottom: 5px;
    margin-right: 5%;
  }

  .imagenes-footer {
    width: 25px; /* Reducir tamaño de los íconos */
    height: 25px;
    margin: 0 5px; /* Reducir el espacio entre íconos */
  }

  /* Ocultar mapa y sección "Dónde nos encontras" */
  .map-section {
    display: none;
  }

  .logo-redes-footer{
    margin-left: 18%;
  }

  /* Ajustar derechos reservados */
  .derechos-reservados p {
    font-size: 5px; /* Texto pequeño para derechos reservados */
    padding: 8px;
    line-height: 1.4; /* Mejorar legibilidad */
  }
}