.navbar {
    display: flex;
    align-items: center;
    background-color: #ffd100;
    border-radius: 10px;
    padding-right: 30%;
    list-style: none;
  }

  .nav_logo {
    height: 90px;
  }

  .nav-opciones {
    color: #202020;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    text-align: left;
    margin-left: 
  }

  .ig{
    
  }

  .imagen_ig{
    width: 20px;
    height: auto;
  }


@media(hover:hover){
  .nav-opciones:hover{
    background: #333533;
    color: #d6d6d6;
    border-radius: 10px;
  }

}