.card-equipo{
    align-items: center;
    height: 500px;
    margin-top: 30px;
    
}

.card{
    background-color: transparent;
    border: none;
    margin: auto;
}

.img-fluid{
    width: 80%;
    margin-left: 20%;
    margin-top: 30%;
    border-radius: 100px;
}

.card-title{
    color: #ffd100;
    font-size:50px;
    font-weight: bold;
    margin: auto;
}

.card-text{
    text-align: center;
    font-size:x-large;
    line-height:40px;
    height: auto;
    margin: auto;
}

.div-boton{
    text-align: center;
    width: 100%;
    height: 60%;
    margin: auto;
}

.div-boton-equipo{
    text-align: center;
    border-radius: 5px;
    border-color: black;
    background-color: #ffd100;
    width: 10%;
    height: 40px;
    font-size:140%;
    margin: auto;
}

.div-boton-equipo:hover {
    background-color: #333533;
    color: white;
    margin: auto;
  }

  @media (max-width: 768px) {
    .card {
      flex-direction: column;
      padding: 15px;
    }
  
    /* Imagen dentro de la tarjeta */
    .col-md-4 img {
      width: 100%;
      height: auto;
      margin-left: 0%;
    }

    .col-md-4{
        height: 10%;
    }
  
    /* Colocar la imagen arriba y el texto abajo */
    .col-md-4, .col-md-8 {
      width: 100%;
    }
  
    .card-body {
      padding: 10px;
    }
  
    .card-title {
      font-size: 20px;
    }
  
    .card-text {
      font-size: 14px;
    }
  }

  @media (max-width: 400px) {
    .card-title {
      font-size: 15px;
    }
  
    .card-text {
      font-size: 10px;
    }

    .div-boton-equipo {
        width: 100%; /* Hace que el botón ocupe el 100% del contenedor */
         /* Aumenta el padding en pantallas pequeñas */
        font-size: 18px; /* Aumenta el tamaño del texto */
    }
  }
  
  @media (max-width: 576px) {
    .card-title {
      font-size: 18px;
    }
  
    .card-text {
      font-size: 12px;
    }

    .div-boton-equipo {
        width: 100%; /* Hace que el botón ocupe el 100% del contenedor */
         /* Aumenta el padding en pantallas pequeñas */
        font-size: 18px; /* Aumenta el tamaño del texto */
    }
  }

  @media (max-width: 1024px) {
    .card-title {
      font-size: 28px;
    }
  
    .card-text {
      font-size: 22px;
    }

    .div-boton-equipo {
        width: 100%; /* Hace que el botón ocupe el 100% del contenedor */
         /* Aumenta el padding en pantallas pequeñas */
        font-size: 18px; /* Aumenta el tamaño del texto */
    }
  }

  @media (max-width: 540px) {
    .card-title {
      font-size: 30px;
    }
  
    .card-text {
      font-size: 20px;
      line-height: 200%;
    }

    .card-equipo{
      height: 30%;
    }

    .img-fluid{
      height: 30%;
      margin-top: 0%;
    }

    .col-md-4{
      margin-top: 0;
      height: 30%;
    }

    .div-boton-equipo {
        width: 100%; /* Hace que el botón ocupe el 100% del contenedor */
         /* Aumenta el padding en pantallas pequeñas */
        font-size: 18px; /* Aumenta el tamaño del texto */
    }
  }

  @media (max-width: 800px) {
    .card-title {
      font-size: 30px;
    }
  
    .card-text {
      font-size: 20px;
      line-height: 200%;
    }

    .card-equipo{
      height: 30%;
    }

    .img-fluid{
      height: 30%;
      margin-top: 0%;
    }

    .col-md-4{
      margin-top: 0;
      height: 30%;
    }

    .div-boton-equipo {
        width: 100%; /* Hace que el botón ocupe el 100% del contenedor */
         /* Aumenta el padding en pantallas pequeñas */
        font-size: 18px; /* Aumenta el tamaño del texto */
    }
  }

  @media (max-width: 1280px) {

    .div-boton-equipo {
        width: 60%; /* Hace que el botón ocupe el 100% del contenedor */
         /* Aumenta el padding en pantallas pequeñas */
        font-size: 18px; /* Aumenta el tamaño del texto */
    }
  }