<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initialscale=1,shrink-to-fit=no">
    <link href="assets/css/miestilo.css" rel="stylesheet" > 
    <link href="assets/css/booststrap.min.css" rel="stylesheet">
    
  </head>
  <body>
    <h1> hola</h1>
      <nav class="menu">
      <lu>
        <li>
          <a href="http://localhost/Proyecto_Marano_y_Mas/">Inicio</a>
          <a href="#">Nosotros</a>
          <a href="#">Productos</a>
          <a href="#">Promociones</a>
          <a href="#">Metodos de pagos</a>
          <a href="#">Sucursales</a>
        </li>
      </lu>
    </nav>
  </body>
</html>
